@import  url("../css/partials/header.css");
@import  url("../css/partials/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    height: fit-content;
  }

   /* ------ MAIN ----- */

   main {
    width: 100%;
    height: 100%;
   }

   section {
    width: 100%;
    height: 100%;
   }

   /* ------ section Search ----- */

   .containerSearchBar {
    width: 100%;
    height: 50vh;
    margin: 0em 0em 0em 0em;
    background-color: #212121;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    position: relative;
   }

   .titleHeader p {
    grid-area: title;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffff;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
   }

   .searchBar1 {
    grid-area: searchBar1;
    width: 70%;
    height: 10px;
   }

   .searchBar1 i {
    position: absolute;
    z-index: 22222;
    margin-top: 6px;
    margin-left: 10px;
   }

   .searchBar1 input {
    width: 100%;
    position: relative;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: none;
    padding-inline-start: 40px;
    font-size: 13px;
   }

   .searchBar1 input::placeholder {
    padding-inline-start: 0px;

  }
  
  .searchBar1 .input:focus {
    outline: 2px solid #00ffcb;
  }

  .categories {
    grid-area: categories;
  }

  .sections1 {
    grid-area: sections1
  }

  .sections2{
    grid-area: sections2
  }

  .sections3 {
    grid-area: sections3
  }

  .sections1, .sections2, .sections3 {
    border: 2px solid #6243F7;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #ffff;
  }

  .sections1:hover, .sections2:hover, .sections3:hover {
    border: 2px solid #00ffcb;
  }

  .categories {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
      "sections1"
      "sections2"
      "sections3"
    ;
    justify-items: center;
    gap: 10px;
  }

   .containerSearchBar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px 40px;
    grid-template-areas: 
      "title"
      "searchBar1"
      "categories"
    ;
    justify-items: center;
    gap: 10px;
   }

   /*** Section categories */

   .containerText {
    grid-area: containerText;
   }
   .containerText {
    display: flex;
    flex-direction: column;
   }

   .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #6243f7;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em;
    text-align: center;
  }

  .ContainerMainSearch p {
    padding: 1em;
    text-align: center;
  }

  .ContainerAnswers p {
    padding: 1em;
    text-align: center;
  }

  /*** Articles */
  
  .containerArticles {
    grid-area: containerArticles;
  }
  .containerArticles {
    display: flex;
    flex-direction: column;
    background-color: #6243f7;
    padding: 1em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    margin: 15px;
    margin-left: 1em;;
  }

  .articles {
    color: #fff;
    margin: 15px;
  }

  .containerArticles p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .articuloTitle {
    grid-area: articuloTitle;
  }

  .accordion {
    grid-area: accordion;
  }


.accordion-body {
  border: 2px solid #00ffcb;
  margin-top: 15px;
  border-radius: 10px;
}

  .sectionText {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "containerText"
      "articuloTitle"
      "accordion"
    ;
    justify-items: center;
    gap: 10px;
  }

  /** TABLET */
@media screen and (min-width: 600px) {

    .containerSearchBar {
        width: 100%;
        height: 40vh;
    }
    .titleHeader p {
    font-size: 2.5rem;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px;
        grid-template-areas: 
      "sections1 sections2 sections3"
    ;
    justify-items: center;
    gap: 10px;
    }

    .accordion {
      width: 80%;
    }

}

/** DESKTOP */
@media screen and (min-width : 1024px){

    .containerSearchBar {
        width: 100%;
        height: 40vh;
    }
    .titleHeader p {
    font-size: 2.5rem;
    }

    .ContainerMainSearch p, .ContainerAnswers p{
        width: 80%;
      }
    
    .containerArticles {
        justify-items: center;
    }
    .sectionText {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "containerText containerArticles"
        ;
        justify-items: center;
        align-items: center;
        gap: 20px;
      }

      .sectionText {
        width: 100%;
      }

      .accordion {
        width: 100%;
      }

      .sectionText {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
          "containerText articuloTitle"
          "containerText accordion"
        ;
        justify-items: center;
        gap: 10px;
      }





}