/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */

 @import  url("../css/partials/header.css");
 @import  url("../css/partials/footer.css");
 @import url("../css/partials/containerImg.css");
 @import  url("../css/partials/containerService.css");
 @import  url("../css/partials/titulos.css");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    height: fit-content;
  }

   /* ------ section Detail Teacher ----- */

.containerBody {
    background-color: #212121;
    height: fit-content;
}

.flexBody {
    grid-area: flexBody;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
}

img.avatar {
    width: 300px;
    height: 250px;
    border: 2px solid #00ffcb;
    border-radius: 35px;
    padding: 0.5em;
    margin-right: 2em;
    margin-top: 2em;
}

.flexBody h3 {
    color: #00ffcb;
    font-size: 2rem;
    padding-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.flexBody p {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1em;
}
  /* ------ section Coder Corses Grid ----- */
  .misCursos {
    grid-area: misCursos;
  }
  .misCursos {
    color: #3657f7;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

.detailsTeacher {
    grid-area: detailsTeacher;
}
.detailsTeacher {
    width: 100%;
    padding: 0em 6em;
    position: relative;
}

/** Flecha */

.preBtn, .nxtBtn {
    border: none;
    width: 5vw;
    height: 80%;
    position: absolute;
    top: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 9;
    color: #fff;
}

.containerBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "flexBody"
      "misCursos"
      "detailsTeacher"
    ;
    justify-items: center;
}

/** TABLET */
@media screen and (min-width: 600px) {
  
/* ------ section Coder Laywer flexBody  Grid ----- */

/* ------ section Coder Laywer Cursos Grid ----- */

.containerCardsServices {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .containerCursos {
    margin: 0em auto;
    width: auto;
    justify-content: start;
    align-items: start;
  }

}

/** DESKTOP */
@media screen and (min-width : 1024px){

/* ------ section Coder Laywer Search  Grid ----- */

.flexBody {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0em 6em;
    margin: 5em auto;
    width: 80vw;
}

.flexBody h3 {
    text-align: left;
}

.flexBody p {
    text-align: left;
}


  
}