/** SCSS - GENERALS */ /** Backgorund */
/** Size */
/** size card teachers & students */
/** size services */
/** size students */
/** size form */
/** Weight */
/** Color */
/** color card teachers & students */
/** Color numbers */
/** color services */
/** color form */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./partials/footer.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-size: $sizePharagrap;*/
}
* p {
  color: #ffffff;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body main {
  width: 100%;
  height: 100%;
}
body main section {
  width: 100%;
  height: 100%;
}

.containerBody {
  background-color: #212121;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

* {
  font-family: "Open Sans", sans-serif;
}

.carousel {
  background-color: #212121;
  max-width: 100%;
  /*max-width: $ancho/2; */ /* Ancho de 360*/
}

/** SCSS - PARTIALS */
/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* ------ HEADER ----- */
header {
  width: 100%;
  height: auto;
  background: #212121;
  padding: 1em 1em;
  position: relative;
  z-index: 1;
}

.navBar {
  /* ------ containerLeft ----- */
  /* ------ containerRight ----- */
  /* ------ buttonResponsive ----- */
}
.navBar .containerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navBar .containerLeft .logo img {
  width: 7em;
  border-radius: 50%;
}
.navBar .containerLeft .search {
  display: none;
  width: 60%;
  margin-right: 10px;
}
.navBar .containerLeft .search i {
  position: absolute;
  z-index: 22222;
  margin-top: 6px;
  margin-left: 10px;
}
.navBar .containerLeft .search input {
  width: 100%;
  position: relative;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: none;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  font-size: 13px;
}
.navBar .containerLeft .search input::-moz-placeholder {
  padding-inline-start: 0px;
}
.navBar .containerLeft .search input:-ms-input-placeholder {
  padding-inline-start: 0px;
}
.navBar .containerLeft .search input::placeholder {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.navBar .containerLeft .search .input:focus {
  outline: 2px solid #00ffcb;
}
.navBar .containerRight {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 13px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.navBar .containerRight .buttonsIcons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  /* ------ subMenu ----- */
  /*.dropDown ul.outline {
    border-bottom: none;
  }*/
}
.navBar .containerRight .buttonsIcons button i {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navBar .containerRight .buttonsIcons button i.fa-user-circle {
  font-size: 2.5rem;
  margin: 0.2em;
  color: #fff;
}
.navBar .containerRight .buttonsIcons .dropDown {
  position: relative;
}
.navBar .containerRight .buttonsIcons .dropDown .dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navBar .containerRight .buttonsIcons .dropDown .dropbtn i {
  background-color: transparent;
  color: #00ffcb;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent {
  display: none;
  position: absolute;
  background-color: #212121;
  color: #fff;
  width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.475);
  z-index: 1;
  right: -47px;
  border-radius: 25px;
  padding: 1em auto;
  border: 1px solid #00ffcb;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .dropHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0em;
  border-bottom: 1px solid #00ffcb;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .dropHeader h4 {
  margin-left: 0.5em;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content {
  list-style: none;
  border-bottom: 1px solid #00ffcb;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 300;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList a {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: #00ffcb;
  transform: scaleX(0);
  transition: transform 0.5s;
  margin-top: 5px;
  opacity: 0.5;
}
.navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
  height: 1.5px;
  opacity: 1;
}
.navBar .containerRight .buttonsIcons .dropDown #subMenuGuest {
  display: none;
}
.navBar .containerRight .buttonsIcons .dropDown:hover .dropdownContent {
  display: block;
}
.navBar .buttonResponsive {
  color: white;
  font-size: 25px;
  /* ------ containerLinks ----- */
}
.navBar .buttonResponsive i {
  margin-top: 10px;
  margin-left: 13px;
}
.navBar .buttonResponsive .containerLinks {
  display: none;
}
.navBar .buttonResponsive .containerLinks .navList {
  display: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.navBar .buttonResponsive .containerLinks .navList .navItem {
  padding: 0.5em 0.5em;
}
.navBar .buttonResponsive .containerLinks .navList .navItem a {
  border: transparent;
  text-decoration: none;
}
.navBar .buttonResponsive .containerLinks .navList .navItem a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: #00ffcb;
  transform: scaleX(0);
  transition: transform 0.5s;
  margin-top: 5px;
  opacity: 0.5;
}
.navBar .buttonResponsive .containerLinks .navList .navItem a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
  height: 1.5px;
  opacity: 1;
}
.navBar .buttonResponsive .containerLinks .navList .navItem .border {
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  width: 100%;
}
.navBar .buttonResponsive:hover .containerLinks {
  display: flex;
}
.navBar .buttonResponsive:hover {
  color: #00ffcb;
}

@media screen and (min-width: 600px) {
  /* ------ containerLeft ----- */
  .navBar {
    /* ------ containerRight ----- */
    /* ------ buttonResponsive ----- */
  }
  .navBar .containerLeft {
    justify-content: start;
  }
  .navBar .containerLeft .logo img {
    width: 9em;
    border-radius: 50%;
  }
  .navBar .containerLeft .search {
    display: block;
    width: 60%;
    margin-left: 15px;
  }
  .navBar .containerLeft .search input {
    width: 70%;
  }
  .navBar .containerRight .buttonsIcons button i.fa-user-circle {
    font-size: 2.7rem;
  }
  .navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList {
    font-size: 1rem;
  }
  .navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList a {
    font-size: 1rem;
  }
  .navBar .containerRight .buttonsIcons i {
    font-size: 1rem;
  }
  .navBar .buttonResponsive {
    font-size: 30px;
    /* ------ containerLinks ----- */
  }
  .navBar .buttonResponsive .containerLinks .navList .navItem .border {
    font-size: 1.2rem;
  }
}
/** DESKTOP */
@media screen and (min-width: 1024px) {
  .navBar {
    /* ------ containerRight ----- */
    /* ------ buttonResponsive ----- */
  }
  .navBar .containerLeft {
    justify-content: space-between;
    width: 40%;
  }
  .navBar .containerLeft .logo img {
    width: 10em;
    border-radius: 50%;
  }
  .navBar .containerLeft .search {
    display: block;
    margin-left: 15px;
  }
  .navBar .containerLeft .search input {
    width: 100%;
  }
  .navBar .containerRight .buttonsIcons button i.fa-user-circle {
    font-size: 3rem;
  }
  .navBar .containerRight .buttonsIcons button i {
    font-size: 1.4rem;
  }
  .navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList {
    font-size: 1rem;
  }
  .navBar .containerRight .buttonsIcons .dropDown .dropdownContent .content .navList a {
    font-size: 1rem;
  }
  .navBar .buttonResponsive {
    font-size: 30px;
    /* ------ containerLinks ----- */
  }
  .navBar .buttonResponsive i {
    display: none;
  }
  .navBar .buttonResponsive .containerLinks {
    width: auto;
    position: absolute;
    top: 11px;
    right: 199px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navBar .buttonResponsive .containerLinks .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .navBar .buttonResponsive .containerLinks .navList .navItem {
    padding: 1em 0.5em;
  }
  .navBar .buttonResponsive .containerLinks .navList .navItem .border {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
  }
  .navBar .buttonResponsive .containerLinks .navList .navItem a:after {
    content: "";
    display: block;
    height: 1.5px;
    background: #00ffcb;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-top: 5px;
    opacity: 0.5;
  }
  .navBar .buttonResponsive .containerLinks .navList .navItem a:hover:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    height: 1.5px;
    opacity: 1;
  }
}
/* ------ section Main Carrusel with Boostrapp----- */
/* ------ Section Characterisitcs ----- */
.contentCharacteristics {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 110vh;
  padding-top: 80px;
}
.contentCharacteristics .characteristics {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "circle" "titleCharacterisitc" "parraCharacterisitc";
  justify-items: center;
  margin-top: 50px;
  gap: 10px;
}
.contentCharacteristics .characteristics .circle {
  grid-area: circle;
  background-color: #6243f7;
  color: #00ffcb;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}
.contentCharacteristics .characteristics .circle i {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.contentCharacteristics .characteristics .circle:hover {
  transform: scale(1.2) rotate(45deg);
}
.contentCharacteristics .characteristics .titleCharacterisitc {
  grid-area: titleCharacterisitc;
}
.contentCharacteristics .characteristics .titleCharacterisitc {
  font-size: 2rem;
  text-transform: capitalize;
  color: #6243f7;
  margin-bottom: 0.5em;
}
.contentCharacteristics .characteristics .parraCharacterisitc {
  grid-area: parraCharacterisitc;
}
.contentCharacteristics .characteristics .parraCharacterisitc {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  width: 50%;
}

/* ------ section Coder Laywer Teachers  ----- */
.sectionTeachers {
  width: 100%;
  height: auto;
  margin: 0em 0em 0em 0em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  margin-bottom: 50px;
}
.sectionTeachers .descriptionTeachers {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "teacherInfo" "serviceContainer" "buttonInfo";
  justify-items: center;
  margin-top: 50px;
}
.sectionTeachers .descriptionTeachers .teacherInfo {
  grid-area: teacherInfo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.sectionTeachers .descriptionTeachers .teacherInfo .header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #6243F7;
  height: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.sectionTeachers .descriptionTeachers .info p {
  font-size: 0.8rem;
  text-align: center;
  padding: 2em;
}
.sectionTeachers .serviceContainer {
  grid-area: serviceContainer;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scroll-behavior: smooth;
  gap: 25px;
  /*padding: 0 10vw 0 1vw;*/
}
.sectionTeachers .serviceContainer .serviceCard {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg {
  border: 2px solid #6243F7;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 25px;
  display: flex;
  transition: all 0.5s;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .nameCouse, .sectionTeachers .sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .color, .sectionStudents .descriptionStudents .sectionTeachers .serviceContainer .serviceCard .serviceImg .color, .sectionTeachers .serviceContainer .serviceCard .serviceImg .color {
  position: absolute;
  background-color: orange;
  border-radius: 15px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 12px;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .color {
  background-color: greenyellow;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .headerInfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .headerInfo i {
  font-size: 6rem;
  color: #3651F7;
  padding-top: 4px;
  margin-bottom: 15px;
  margin-top: 22px;
  margin-left: 25px;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .headerInfo button {
  outline: none;
  border: none;
  background-color: black;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .headerInfo button a {
  font-size: 1rem;
  text-align: center;
  color: #3651F7;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg h4 {
  font-size: 1.3rem;
  text-align: center;
  color: #3651F7;
  text-transform: uppercase;
  padding-top: 5px;
  position: absolute;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg .description {
  margin-top: 5em;
  width: 200px;
  text-align: center;
  border: none;
  transition: 0.5s;
  opacity: 0;
  font-size: 0.8rem;
  color: #ffffff;
  transition: all 0.5s;
  position: absolute;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionTeachers .serviceContainer .serviceCard .serviceImg {
  height: 95%;
  width: 100%;
}
.sectionTeachers .serviceContainer .serviceCard:hover .serviceImg button {
  background-color: #212121;
  border-radius: 15px;
  transition: all 0s;
}
.sectionTeachers .serviceContainer .serviceCard:hover a {
  margin-bottom: 20px;
}
.sectionTeachers .serviceContainer .serviceCard:hover .serviceImg {
  background-color: #212121;
}
.sectionTeachers .serviceContainer .serviceCard:hover .serviceImg {
  border: 1px solid #00FFCB;
}
.sectionTeachers .serviceContainer .serviceCard:hover .description {
  opacity: 1;
}
.sectionTeachers .serviceContainer .serviceCard:hover i {
  opacity: 0;
}
.sectionTeachers .serviceContainer::-webkit-scrollbar {
  display: none;
}
.sectionTeachers .buttonInfo {
  grid-area: buttonInfo;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes un_efecto {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    /*background: rgb(0,255,203);
    background: linear-gradient(right, rgba(0,255,203,1) 36%, rgba(98,67,247,1) 36%); */
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    /*width: 170px;
    background: rgb(0,255,203);*/
    background: linear-gradient(left, rgb(98, 67, 247) 35%);
    transform: scale(1);
  }
}
@keyframes un_efecto {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    /*background: rgb(0,255,203);
    background: linear-gradient(right, rgba(0,255,203,1) 36%, rgba(98,67,247,1) 36%); */
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    /*width: 170px;
    background: rgb(0,255,203);*/
    background: linear-gradient(left, rgb(98, 67, 247) 35%);
    transform: scale(1);
  }
}
.sectionTeachers .buttonInfo .button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 140px;
  height: 40px;
  border-radius: 14px;
  border: transparent;
  position: relative;
  color: #00ffcb;
  background-color: #6243f7;
  margin-top: 1em;
  transition: 0.5 opacity ease-in-out;
}
.sectionTeachers .buttonInfo .button a {
  text-decoration: none;
  color: #212121;
}
.sectionTeachers .buttonInfo .button:hover {
  -webkit-animation-name: un_efecto;
          animation-name: un_efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  /*background: rgb(0,255,203);
  background: linear-gradient(90deg, rgba(0,255,203,1) 36%, rgba(98,67,247,1) 77%); 
  width: 160px;
  height: 50px;*/
}
.sectionTeachers .buttonInfo .button a:hover {
  color: black;
}

/* ------ section Coder Laywer Stadistics  ----- */
.est {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "titleEstadisticas" "cantidades";
  justify-items: center;
}
.est .titleEstadisticas {
  grid-area: titleEstadisticas;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.est .titleEstadisticas h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #6243F7;
  height: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.est .cantidades {
  grid-area: cantidades;
  display: flex;
  flex-direction: column;
}
.est .cantidades .info {
  display: flex;
  flex-direction: column;
}
.est .cantidades .info .number {
  font-size: 6rem;
  font-weight: 600;
  color: #6243F7;
  text-align: center;
  margin: 0;
}
.est .cantidades .info .text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.est .cantidades .info:hover {
  transform: scale(1.2);
}

/* ------ section Coder Laywer service Grid ----- */
.containerServices {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "category" "nameCourses" "containerCardsServices";
  justify-items: start;
  height: auto;
}
.containerServices .categoryFirst h2 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #6243F7;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
}
.containerServices .category {
  grid-area: category;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.containerServices .category h2 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #6243F7;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
}
.containerServices .nameCourses {
  grid-area: nameCourses;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #ffffff;
  text-transform: uppercase;
  text-align: end;
}
.containerServices .nameCourses .navListService {
  display: flex;
  flex-direction: row;
  /*border-bottom: 1.5px solid #6243f7;*/
  margin-left: 1.2em;
  list-style: none;
}
.containerServices .nameCourses .navListService .navItem {
  text-decoration: none;
  font-size: 1rem;
}
.containerServices .containerCardsServices {
  grid-area: containerCardsServices;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerServices .containerCardsServices .containerCursos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em auto;
  width: 100%;
  padding: 20px;
}
.containerServices .containerCardsServices .containerCursos .cardCurso {
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  margin: 1em;
  box-sizing: border-box;
  border: 1px solid #6243F7;
}
.containerServices .containerCardsServices .containerCursos .cardCurso div .nombreCurso {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 1.5px solid #6243F7;
  margin-bottom: 0.5em;
  width: 100%;
  height: auto;
}
.containerServices .containerCardsServices .containerCursos .cardCurso div .sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  display: flex;
}
.containerServices .containerCardsServices .containerCursos .cardCurso div .precioCurso {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
  border: 1px solid #6243F7;
  padding: 0.3em;
  border-radius: 5px;
  display: none;
}
.containerServices .containerCardsServices .containerCursos .cardCurso div .precioCurso:hover {
  background-color: #00FFCB;
  color: black;
}
.containerServices .containerCardsServices .containerCursos .cardCurso .btn.verCurso {
  background-color: #6243F7;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 5px;
  margin-top: 1em;
}
.containerServices .containerCardsServices .containerCursos .cardCurso .btn.verCurso .reservar {
  text-decoration: none;
  color: black;
}
.containerServices .containerCardsServices .containerCursos .cardCurso .btn.verCurso:hover .reservar {
  color: #ffffff;
}
.containerServices .containerCardsServices .containerCursos .cardCurso:hover {
  border: 1px solid #00ffcb;
  background-color: #212121;
}
.containerServices .containerCardsServices .containerCursos .cardCurso:hover .precioCurso {
  display: flex;
}
.containerServices .nameCourses .navItem:after {
  content: "";
  display: block;
  height: 1.5px;
  background: #00ffcb;
  transform: scaleX(0);
  transition: transform 0.5s;
  margin-top: 5px;
  opacity: 0.5;
}
.containerServices .nameCourses .navItem:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
  height: 1.5px;
  opacity: 1;
}

/* ------ section Coder Laywer students ----- */
.sectionStudents .descriptionStudents {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "studentInfo" "serviceContainer" "buttonInfo";
  justify-items: center;
  margin-top: 50px;
}
.sectionStudents .descriptionStudents .studentInfo {
  grid-area: studentInfo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.sectionStudents .descriptionStudents .studentInfo .header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #6243F7;
  height: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.sectionStudents .descriptionStudents .studentInfo .info p {
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  padding: 2em;
}
.sectionStudents .descriptionStudents .serviceContainer {
  grid-area: serviceContainer;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scroll-behavior: smooth;
  gap: 25px;
  /*padding: 0 10vw 0 1vw;*/
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg {
  border: 2px solid #6243F7;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 25px;
  display: flex;
  transition: all 0.5s;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .nameCouse, .sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .color {
  position: absolute;
  background-color: orange;
  border-radius: 15px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 12px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .color {
  background-color: greenyellow;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .headerInfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .headerInfo i {
  font-size: 80px;
  color: #3651F7;
  margin-bottom: 22px;
  padding-top: 4px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .headerInfo button {
  outline: none;
  border: none;
  background-color: black;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .headerInfo button a {
  font-size: 1rem;
  text-align: center;
  color: #3651F7;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg h4 {
  font-size: 1.3rem;
  text-align: center;
  color: #3651F7;
  text-transform: uppercase;
  padding-top: 5px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .description {
  margin-top: 5em;
  width: 150px;
  text-align: center;
  border: none;
  transition: 0.5s;
  opacity: 0;
  font-size: 0.8rem;
  color: #ffffff;
  transition: all 0.5s;
  margin-right: 1em;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg {
  height: 95%;
  width: 100%;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard:hover .serviceImg button {
  background-color: #212121;
  border-radius: 15px;
  transition: all 0s;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard:hover a {
  margin-bottom: 20px;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard:hover .serviceImg {
  background-color: #212121;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard:hover .serviceImg {
  border: 1px solid #00FFCB;
}
.sectionStudents .descriptionStudents .serviceContainer .serviceCard:hover .description {
  opacity: 1;
}
.sectionStudents .descriptionStudents .serviceContainer::-webkit-scrollbar {
  display: none;
}
.sectionStudents .descriptionStudents .buttonInfo {
  grid-area: buttonInfo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionStudents .descriptionStudents .buttonInfo .button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 140px;
  height: 40px;
  border-radius: 14px;
  border: transparent;
  position: relative;
  background-color: #6243f7;
  margin-top: 1em;
  transition: 0.5 opacity ease-in-out;
}
.sectionStudents .descriptionStudents .buttonInfo .button a {
  text-decoration: none;
  color: #212121;
}
.sectionStudents .descriptionStudents .buttonInfo .button:hover {
  -webkit-animation-name: un_efecto;
          animation-name: un_efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  /*background: rgb(0,255,203);
  background: linear-gradient(90deg, rgba(0,255,203,1) 36%, rgba(98,67,247,1) 77%); 
  width: 160px;
  height: 50px;*/
}
.sectionStudents .descriptionStudents .buttonInfo .button a:hover {
  color: black;
}

/* ------ section Coder Lawyer download App ----- */
.containerImageApp {
  margin: 2em 0;
  width: auto;
}
.containerImageApp img {
  width: 100%;
}

/* ------ section contact ----- */
.contactoHome .flexContacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "titleContact" "formulario";
  justify-items: start;
  height: auto;
}
.contactoHome .flexContacto .titleContact {
  grid-area: titleContact;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.contactoHome .flexContacto .titleContact h3 {
  font-size: 55px;
  color: #00ffcb;
  font-weight: 600;
}
.contactoHome .flexContacto .titleContact p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 0.2em 1em 1em;
}
.contactoHome .flexContacto .titleContact .redes ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactoHome .flexContacto .titleContact .redes ul li {
  margin: 0.5em 0em;
}
.contactoHome .flexContacto .titleContact .redes ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}
.contactoHome .flexContacto .titleContact .redes ul li a i {
  color: #00FFCB;
}
.contactoHome .flexContacto .titleContact .redes ul li a span {
  color: #fff;
  font-size: 20px;
}
.contactoHome .flexContacto .formulario {
  grid-area: formulario;
  width: 100%;
  padding: 20px;
}
.contactoHome .flexContacto .formulario form .input-form {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.contactoHome .flexContacto .formulario form input::-moz-placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form input:-ms-input-placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form .input-form,
.contactoHome .flexContacto .formulario form input::placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form .input-form:focus,
.contactoHome .flexContacto .formulario form input:focus,
.contactoHome .flexContacto .formulario form input[type]:focus {
  outline: 0 none;
}
.contactoHome .flexContacto .formulario form textarea::-moz-placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form textarea:-ms-input-placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form textarea::placeholder {
  color: #212121;
  opacity: 1;
}
.contactoHome .flexContacto .formulario form textarea::-moz-placeholder #consulta {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.contactoHome .flexContacto .formulario form textarea:-ms-input-placeholder #consulta {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.contactoHome .flexContacto .formulario form textarea::placeholder #consulta {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.contactoHome .flexContacto .formulario form button.enviar {
  border: none;
  background-color: #6243F7;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  width: 200px;
  padding: 1em;
  text-transform: capitalize;
  border-radius: 15px;
  float: right;
}

/** TABLET */
@media screen and (min-width: 600px) {
  /* ------ section Main Carrusel ----- */
  .contentText .text {
    font-size: 18px;
  }
  /* ------ Dots ----- REVISAR LOS PUNTOS */
  .contentDot {
    bottom: -335px;
    z-index: 9;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
  /* ------ Prev & Next ------ */
  .prev,
.next {
    position: absolute;
    top: 30%;
    margin-top: 105px;
  }
  /** Section Characterisitcs Grid + Flex Box */
  .contentCharacteristics {
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .characteristics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "circle" "titleCharacterisitc" "parraCharacterisitc";
    justify-items: center;
    gap: 10px;
  }
  .circle {
    width: 170px;
    height: 170px;
  }
  .circle:hover {
    transform: scale(1);
  }
  .characteristics .circle i {
    font-size: 100px;
    margin-top: 27px;
  }
  .titleCharacterisitc {
    font-size: 1.5rem;
  }
  .parraCharacterisitc {
    font-size: 1rem;
    width: 50%;
  }
  /* ------ section Coder Laywer Teachers Grid ----- */
  .sectionTeachers {
    width: 100%;
    height: auto;
  }
  .serviceContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header h3 {
    font-size: 2rem;
  }
  .info p {
    font-size: 1rem;
  }
  .serviceImg i {
    font-size: 90px;
  }
  .serviceImg h2 {
    font-size: 0.9rem;
  }
  .serviceImg h4 {
    font-size: 1rem;
  }
  .nameCouse, .sectionTeachers .serviceContainer .serviceCard .serviceImg .color, .sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .color {
    font-size: 14px;
  }
  .nameSchool {
    font-size: 14px;
  }
  .description {
    font-size: 0.8rem;
  }
  .serviceInfo button {
    font-size: 1rem;
  }
  .preBtn,
.nxtBtn {
    font-size: 1rem;
  }
  .descriptionTeachers .button {
    font-size: 1.2rem;
  }
  .button {
    width: 160px;
    height: 50px;
  }
  .button a {
    font-size: 1.5rem;
  }
  /* ------ section Coder Laywer Stadistics Grid ----- */
  .titleEstadisticas {
    height: inherit;
  }
  .titleEstadisticas h2 {
    font-size: 3rem;
  }
  .cantidades .number {
    font-size: 80px;
  }
  .cantidades .text {
    font-size: 40px;
  }
  .est {
    height: auto;
  }
  /* ------ section Coder Laywer service Grid ----- */
  .categoryFirst h2 {
    font-size: 2rem;
  }
  .category h2 {
    font-size: 2rem;
  }
  .nameCourses .navListService .navItem {
    font-size: 1.2rem;
  }
  .containerCursos {
    margin: 0em auto;
    width: auto;
    justify-content: start;
    align-items: start;
  }
  .containerCardsServices {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* ------ section Coder Laywer students Grid REVIEW ----- */
  .containerCardsStudents {
    height: 1500px;
  }
  .containerCardsStudents {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "containerStudents" "serviceContainer";
    align-items: center;
    gap: 2em;
  }
  /* ------ section App ----- */
  /* ------ section contact ----- */
  .titleContact .redes ul {
    flex-direction: row;
    margin: 25px;
  }
  .titleContact .redes li {
    margin: 1.5em 1em;
  }
  .titleContact .redes ul li a {
    display: flex;
    flex-direction: column;
  }
}
/** DESKTOP */
@media screen and (min-width: 1024px) {
  /* ------ section Main Carrusel ----- */
  .contentText .text {
    font-size: 20px;
  }
  .mySlides .contentText {
    top: 2.8em;
  }
  /* ------ Dots ----- REVISAR LOS PUNTOS */
  .contentDot {
    bottom: -335px;
    z-index: 9;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
  /* ------ Prev & Next ------ */
  .prev,
.next {
    position: absolute;
    top: 30%;
    margin-top: 105px;
  }
  /** Section Characterisitcs Grid + Flex Box */
  .circle {
    width: 180px;
    height: 180px;
  }
  .characteristics .circle i {
    font-size: 100px;
    margin-top: 27px;
  }
  .titleCharacterisitc {
    font-size: 1.5rem;
  }
  .parraCharacterisitc {
    width: 50%;
    font-size: 1rem;
  }
  .contentCharacteristics {
    flex-direction: row;
  }
  .characteristics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 300px;
  }
  /* =================================================================
  GRID OVER GRID
  .characteristics {
    grid-area: characteristics;
  }
  .contentCharacteristics {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      width: 50%;
      grid-template-areas: 
        "characteristics characteristics characteristics"
      ;
      justify-items: center;
      margin-top: 50px;
  }*/
  /* ------ section Coder Laywer Teachers Grid ----- */
  .sectionTeachers {
    width: 100%;
    height: auto;
  }
  .header h3 {
    font-size: 3rem;
  }
  .info p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .serviceImg i {
    font-size: 100px;
  }
  .serviceImg h2 {
    font-size: 1rem;
  }
  .serviceImg h4 {
    font-size: 1.2rem;
  }
  .nameCouse, .sectionTeachers .serviceContainer .serviceCard .serviceImg .color, .sectionStudents .descriptionStudents .serviceContainer .serviceCard .serviceImg .color {
    font-size: 18px;
  }
  .nameSchool {
    font-size: 16px;
  }
  .description {
    font-size: 0.8rem;
  }
  .serviceInfo button {
    font-size: 1rem;
  }
  .preBtn,
.nxtBtn {
    font-size: 1.2rem;
  }
  .descriptionTeachers .button {
    font-size: 1.2rem;
  }
  .button {
    width: 170px;
    height: 60px;
    margin-bottom: 30px;
    top: 40px;
  }
  .button a {
    font-size: 1.5rem;
  }
  /* ------ section Coder Laywer Stadistics Grid ----- */
  .titleEstadisticas {
    height: inherit;
  }
  .titleEstadisticas h2 {
    margin-top: 0.5rem;
    font-size: 4rem;
  }
  .cantidades .number {
    font-size: 80px;
  }
  .cantidades .text {
    font-size: 35px;
  }
  .est {
    height: auto;
  }
  .est {
    gap: 5rem;
  }
  .cantidades {
    flex-direction: row;
    gap: inherit;
  }
  .info {
    flex-direction: column;
  }
  /* ------ section Coder Laywer service Grid ----- */
  .categoryFirst h2 {
    font-size: 2.5rem;
  }
  .category h2 {
    font-size: 2.5rem;
  }
  .nameCourses .navListService .navItem {
    font-size: 1.5rem;
  }
  .containerCursos {
    margin: 0em auto;
    width: auto;
    justify-content: start;
    align-items: start;
  }
  .containerCardsServices {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* ------ section Coder Laywer challanges Grid  ----- */
  .containerChallanges {
    width: 100%;
    height: auto;
    margin: 0em 0em 0em 0em;
    background-image: url(../images/bkg-services2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  }
  /* ------ section Coder Laywer students Grid REVIEW ----- */
  .containerCardsStudents {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "containerStudents" "serviceContainer";
    align-items: center;
    gap: 2em;
  }
  /* ------ section App ----- */
  /* ------ section contact ----- */
  #contactoHome {
    box-sizing: border-box;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactoHome {
    /*width: 1440px;*/
    width: 100%;
    height: 725px;
    margin: 5em 0em 0em 0em;
    background-image: url(../images/bkg-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    border-radius: 100px;
  }
  .flexContacto {
    width: 100%;
    padding: 0em 2em;
    position: absolute;
    top: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .titleContact {
    grid-area: titleContact;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .titleContact h3 {
    font-size: 55px;
    color: #00ffcb;
    font-weight: 600;
  }
  .titleContact p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 0.2em 0em 1em;
  }
  .titleContact .redes ul {
    list-style: none;
    flex-direction: column;
  }
  .titleContact .redes li {
    margin: 0.5em 0em;
  }
  .titleContact .redes a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
  }
  .titleContact .redes ul li a {
    display: flex;
    flex-direction: row;
  }
  .titleContact .redes a span {
    color: #fff;
  }
  .titleContact .redes ul li a i {
    color: #00ffcb;
    margin-right: 25px;
  }
  .flexContacto .formulario {
    width: 40%;
  }
  .flexContacto .formulario .input-form {
    display: block;
    width: 100%;
    margin: 1em auto;
    background-color: #00ffcb;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #212121;
  }
  input::-moz-placeholder {
    color: #212121;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: #212121;
    opacity: 1;
  }
  .flexContacto .formulario .input-form,
input::placeholder {
    color: #212121;
    opacity: 1;
  }
  .input-form:focus,
input:focus,
input[type]:focus {
    outline: 0 none;
  }
  .flexContacto .formulario .consulta {
    display: block;
    width: 100%;
    margin: 1em auto;
    background-color: #00ffcb;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #212121;
  }
  textarea::-moz-placeholder {
    color: #212121;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }
  textarea:-ms-input-placeholder {
    color: #212121;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }
  .consulta,
textarea::placeholder {
    color: #212121;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }
  .flexContacto .formulario button.enviar {
    border: none;
    background-color: #6243F7;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    padding: 1em;
    text-transform: capitalize;
    border-radius: 15px;
    float: right;
  }
}/*# sourceMappingURL=style.css.map */