/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */

 @import  url("../css/partials/header.css");
 @import  url("../css/partials/footer.css");
 @import  url("../css/partials/containerService.css");
 @import  url("../css/myChallanges.css");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    height: fit-content;
  }

   /* ------ MAIN ----- */

   main {
    width: 100%;
    height: 100%;
   }

   section {
    width: 100%;
    height: 100%;
   }

   /* ------ section Main Carrusel ----- */

   /** Flexbox */
   .mainCarrusel {
    max-width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
  }

  .mySlides-fade-deactivate {
    display: none;
  }

  .mySlides {
    display: flex;
    flex-direction: column;
  }

  .mainCarrusel img.image {
    width: 100%;
    display: block;
    /*position: absolute;
    top: -7px;*/
  }

  .mySlides .contentText {
    position: absolute;
    top: 0.8em;
    right: 1em;
    box-sizing: border-box;
  }

  .contentText .text {
    color: #fff;
    background-color: #3657f7;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 300;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    width: 100%;
  }

   /* ------ Dots ----- */
   .contentDot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20vh;
    width: 100%;
  }
  .contentDot {
    bottom: 2px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }

  /* ------ Prev & Next ------ */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: 105px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #212121;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

  /** Section Characterisitcs Grid + Flex Box */

  .contentCharacteristics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .circle {
    grid-area: circle;
    background-color: #6243f7;
    color: #00ffcb;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 0.5em;
  }

  .characteristics .circle i {
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }

  .titleCharacterisitc {
    grid-area: titleCharacterisitc;
  }

  .titleCharacterisitc {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #6243f7;
    margin-bottom: 0.5em;
  }

  .parraCharacterisitc {
    grid-area: parraCharacterisitc;
  }

  .parraCharacterisitc {
    font-size: 0.8rem;
    color: #212121;
    text-align: center;
    width: 50%;
  }

  .characteristics {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "circle"
      "titleCharacterisitc"
      "parraCharacterisitc"
    ;
    justify-items: center;
    margin-top: 50px;
    gap: 10px;
  }

  /* ------ section Coder Laywer Teachers Grid ----- */

.sectionTeachers {
  width: 100%;
  height: 90vh;
  margin: 0em 0em 0em 0em;
  background-image: url(../images/bkg-teachers2.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  position: relative;
}

/*.descriptionTeachers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-around;
  width: 100%;
  height: inherit;
  padding: 10px;
  position: relative;
}*/

.teacherInfo {
  grid-area: teacherInfo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.header h3{
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #6243f7;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.info p {
  padding: 15px;
  font-size: 0.8rem;
  color: #212121;
  text-align: center;
}

.serviceContainer {
  grid-area: serviceContainer;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  scroll-behavior: smooth;
  gap: 25px;
  /*padding: 0 10vw 0 1vw;*/

}
.serviceContainer::-webkit-scrollbar {
  display: none;
}
.serviceCard {
  flex: 0 0 auto;
  width: 200px;
  height: 350px;
}
.serviceImg {
  position: relative;
  width: 100%;
  height: 95%;
  overflow: hidden;
  background-color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.serviceImg i {
  font-size: 80px;
  color: #3651F7;
  margin-bottom: 22px;
  padding-top: 4px;
}
.serviceImg h2 {
  font-size: 0.6rem;
  text-align: center;
  color: #3651F7;
}
.serviceImg h4 {
  font-size: 1rem;
  text-align: center;
  color: #3651F7;
  text-transform: uppercase;
  padding-top: 5px;;
}

.nameCouse {
  position: absolute;
  background-color: orange;
  border-radius: 15px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 12px;
}
.nameSchool {
  position: absolute;
  background-color: greenyellow;
  border-radius: 15px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 12px;
}
.description {
  margin-top: 1em;
  width: 150px;
  text-align: center;
  border: none;
  transition: 0.5s;
  opacity: 0;
  font-size: 0.8rem;
  color: #fff;
  transition: all 0.5s;
}
.serviceCard:hover .description {
  opacity: 1;
}
.serviceCard:hover .serviceImg {
  background-color: #212121;
}
.serviceInfo {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  top: -1.5em;
}
.serviceInfo button {
  position: absolute;
  outline: none;
  border: none;
  width: 80%;
  border-radius: 25px;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  background-color: black;
}

.serviceInfo button i {
  color: #3651F7;
}

.serviceInfo button a {
  color: #3651F7;
}

.preBtn ,
.nxtBtn {
  border: none;
  width: 5vw;
  height: 80%;
  position: absolute;
  top: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 9;
  color: #00FFCB;
}
.preBtn {
  left: 0;
}
.nxtBtn {
  right: 0;
}
.preBtn i,
.nxtBtn i {
  opacity: 0.2;
}
.preBtn:hover i,
.nxtBtn:hover i {
  opacity: 1;
}

.buttonInfo {
  grid-area: buttonInfo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionTeachers .button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.button {
  width: 140px;
  height: 40px;
  border-radius: 14px;
  border: transparent;
  position: relative;
  color: #00ffcb;
  background-color: #6243f7;
  margin-top: 1em;
  top: 64px;

}

.button a {
  text-decoration: none;
  color: #ffff;
}

.button:hover {
  color: #00ffcb;
  background-color: black;
}

.descriptionTeachers {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "teacherInfo"
      "serviceContainer"
      "buttonInfo"
    ;
    justify-items: center;
    margin-top: 50px;
}


  /* ------ section Coder Laywer Stadistics Grid ----- */

  .titleEstadisticas {
    grid-area: titleEstadisticas;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

  }

  .titleEstadisticas h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #212121;
    height: auto;
  }
  
  .cantidades {
    grid-area: cantidades;
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .cantidades .number {
    font-size: 60px;
    font-weight: 600;
    color: #6243f7;
    text-align: center;
    margin-top: 0.5em;
  }
  .cantidades .text {
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    text-align: center;
  }

  .est {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
      "titleEstadisticas"
      "cantidades"
    ;
    justify-items: center;
    height: 100vh;
  }

  /* ------ section Coder Laywer service Grid ----- */

  .sectionBkg {
    width: 100%;
    height: auto;
    background-image: url(../images/bkg-services1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  
  }

  .category h2 {
    grid-area: category;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .categoryFirst h2{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #6243f7;
    margin-top: 11em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
  }

  .category h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #6243f7;
    margin-left: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
  }

  .nameCourses {
    grid-area: nameCourses;
  }
  .nameCourses {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #ffff;
    text-transform: uppercase;
    text-align:end; 
  }

  .navListService {
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid #6243f7;
    margin-left: 1.2em;
    list-style: none;
  }

  .navItem {
    text-decoration: none;
  }

  /** Container Service */

  .cardCurso:hover {
    border: 3px solid #00ffcb;
  }

  .preBtnCart1 ,
.nxtBtnCart1 {
  border: none;
  width: 5vw;
  height: 52%;
  position: absolute;
  top: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 9;
  color: #00FFCB;
}

.preBtnCart1 {
  left: 0;
}
.nxtBtnCart1 {
  right: 0;
}
.preBtnCart1 i,
.nxtBtnCart1 i {
  opacity: 0.2;
}
.preBtnCart1:hover i,
.nxtBtnCart1:hover i {
  opacity: 1;
}

  .containerServices {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "category"
      "nameCourses"
      "containerCardsServices"
    ;
    justify-items: start;
    height: auto;
  }

  /* ------ section Coder Laywer service Grid ----- */
  .containerChallanges {
    width: 100%;
    height: auto;
    background-image: url(../images/bkg-services3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  
  }

/* ------ section Coder Laywer students Grid ----- */

.containerStudents {
  grid-area: containerStudents;
}

.containerStudents {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #6243f7;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.containerStudents {
  text-align: center;
}

.serviceContainer {
  grid-area: serviceContainer;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCardsStudents {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "containerStudents"
    "serviceContainer"
  ;
  justify-items: start;
  height: auto;
  gap: 2em;
}

/* ------ section App ----- */

.containerApp .containerImageApp{
  margin: 2em 0;
  width: auto;
}
.containerImageApp img {
  width: 100%
}

/* ------ section contact ----- */

.titleContact {
  grid-area: titleContact;
  display: flex;
  flex-direction: column;
}

.titleContact {
  width: 100%;
  text-align: center;
}
.titleContact h3 {
  font-size: 55px;
  color: #00ffcb;
  font-weight: 600;
}
.titleContact p {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding: 0.2em 1em 1em;
}

.titleContact .redes ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleContact .redes li {
  margin: 0.5em 0em;
}
.titleContact .redes a {
  text-decoration: none;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}
.titleContact .redes a i {
  color: black;
}

.titleContact .redes a span {
  color: black;
  font-size: 20px;
}

.formulario {
  grid-area:formulario;
}

.flexContacto .formulario {
  width: 100%;
  padding: 20px;
}
.flexContacto .formulario .input-form {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.flexContacto .formulario .input-form,
input::placeholder {
color: #212121;
opacity: 1;
}
.input-form:focus,
input:focus,
input[type]:focus {
outline: 0 none;
}
.flexContacto .formulario .consulta {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}

.consulta,
textarea::placeholder {
  color: #212121;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.flexContacto .formulario button.enviar {
  border: none;
  background-color: #6243F7;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
  padding: 1em;
  text-transform: capitalize;
  border-radius: 15px;
  float: right;
}

.flexContacto{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "titleContact"
    "formulario"
  ;
  justify-items: start;
  height: auto;
}

/** TABLET */
@media screen and (min-width: 600px) {
  
 /* ------ section Main Carrusel ----- */

  .contentText .text {
    font-size: 18px;
  }

  /* ------ Dots ----- REVISAR LOS PUNTOS */

  .contentDot {
    bottom: -335px;
    z-index: 9;
  }
  .dot {
    height: 10px;
    width: 10px;
  }

  /* ------ Prev & Next ------ */

  .prev,
.next {
  position: absolute;
  top: 30%;
  margin-top: 105px;
}

/** Section Characterisitcs Grid + Flex Box */

.contentCharacteristics {
  height: auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}
.characteristics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "circle"
    "titleCharacterisitc"
    "parraCharacterisitc"
  ;
  justify-items: center;
  gap: 10px;
}

.circle {
  width: 160px;
  height: 160px;
}

.characteristics .circle i {
  font-size: 100px;
  margin-top: 27px;

}

.titleCharacterisitc {
  font-size: 1.5rem;

}

.parraCharacterisitc {
  font-size: 1rem;
  width: 50%;
}

/* ------ section Coder Laywer Teachers Grid ----- */

.sectionTeachers {
  width: 100%;
  height: 100vh;
}
.header h3{
  font-size: 2rem;
}

.info p {
  font-size: 1rem;
}

.serviceCard {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
}

.serviceImg i {
  font-size: 90px;
}
.serviceImg h2 {
  font-size: 0.9rem;
}
.serviceImg h4 {
  font-size: 1rem;
}
.nameCouse {
  font-size: 14px;
}
.nameSchool {
  font-size: 14px;
}
.description {
  font-size: 1rem;
}
.serviceInfo button {
  font-size: 1rem;
}

.preBtn ,
.nxtBtn {
  font-size: 1rem;
}

.descriptionTeachers .button {
  font-size: 1.2rem;
}

.button {
  width: 160px;
  height: 50px;

}

.button a {
  font-size: 1.5rem;
}

  /* ------ section Coder Laywer Stadistics Grid ----- */

  .titleEstadisticas {
    height: inherit;
  }

  .titleEstadisticas h2 {
    font-size: 3rem;
  }

  .cantidades .number {
    font-size: 80px;
  }
  .cantidades .text {
    font-size: 40px;
  }

  .est {
    height: auto;
  }

    /* ------ section Coder Laywer service Grid ----- */

  .categoryFirst h2{
      font-size: 2rem;
    }
  .category h2 {
      font-size: 2rem;
  }
  .nameCourses .navListService .navItem {
    font-size: 1.2rem;
  }

  .containerCursos {
    margin: 0em auto;
    width: auto;
    justify-content: start;
    align-items: start;
  }

  .containerCardsServices {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ------ section Coder Laywer students Grid REVIEW ----- */

  /* ------ section App ----- */

  /* ------ section contact ----- */

  .titleContact .redes ul {
    flex-direction: row;
    margin: 25px;
  }

  .titleContact .redes li {
    margin: 1.5em 1em;
  }

  .titleContact .redes ul li a {
    display: flex;
    flex-direction: column;
  }

}

/** DESKTOP */
@media screen and (min-width : 1024px){

 /* ------ section Main Carrusel ----- */

  .contentText .text {
    font-size: 20px;
  }

  .mySlides .contentText {
    top: 2.8em;
  }

  /* ------ Dots ----- REVISAR LOS PUNTOS */

  .contentDot {
    bottom: -335px;
    z-index: 9;
  }
  .dot {
    height: 10px;
    width: 10px;
  }

  /* ------ Prev & Next ------ */

  .prev,
.next {
  position: absolute;
  top: 30%;
  margin-top: 105px;
}

/** Section Characterisitcs Grid + Flex Box */

.circle {
  width: 180px;
  height: 180px;
}

.characteristics .circle i {
  font-size: 100px;
  margin-top: 27px;

}

.titleCharacterisitc {
  font-size: 1.5rem;

}

.parraCharacterisitc {
  width: 50%;
  font-size: 1rem;

}

.contentCharacteristics {
  flex-direction: row;
}

.characteristics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 300px;
}
/* =================================================================
GRID OVER GRID
.characteristics {
  grid-area: characteristics;
}
.contentCharacteristics {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 50%;
    grid-template-areas: 
      "characteristics characteristics characteristics"
    ;
    justify-items: center;
    margin-top: 50px;
}*/

/* ------ section Coder Laywer Teachers Grid ----- */

.sectionTeachers {
  width: 100%;
  height: 1300px;
}
.header h3{
  font-size: 3rem;
}

.info p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.serviceCard {
  flex: 0 0 auto;
  width: 300px;
  height: 450px;
}

.serviceImg i {
  font-size: 100px;
}
.serviceImg h2 {
  font-size: 1rem;
}
.serviceImg h4 {
  font-size: 1.2rem;
}
.nameCouse {
  font-size: 18px;
}
.nameSchool {
  font-size: 16px;
}
.description {
  font-size: 1rem;
}
.serviceInfo button {
  font-size: 1rem;
}

.preBtn ,
.nxtBtn {
  font-size: 1.2rem;
}

.descriptionTeachers .button {
  font-size: 1.2rem;
}

.button {
  width: 170px;
  height: 60px;
  margin-bottom: 30px;
  top: 40px;

}

.button a {
  font-size: 1.5rem;
}

  /* ------ section Coder Laywer Stadistics Grid ----- */

  .titleEstadisticas {
    height: inherit;
  }

  .titleEstadisticas h2 {
    font-size: 2rem;
  }

  .cantidades .number {
    font-size: 80px;
  }
  .cantidades .text {
    font-size: 35px;
  }
  .est {
    height: auto;
  }

  .cantidades {
    flex-direction: row;
    gap: inherit;
  }

  .info {
    flex-direction: column;
  }

    /* ------ section Coder Laywer service Grid ----- */

  .categoryFirst h2{
      font-size: 2.5rem;
    }
  .category h2 {
      font-size: 2.5rem;
  }
  .nameCourses .navListService .navItem {
    font-size: 1.5rem;
  }

  .containerCursos {
    margin: 0em auto;
    width: auto;
    justify-content: start;
    align-items: start;
  }

  .containerCardsServices {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ------ section Coder Laywer challanges Grid  ----- */

  .containerChallanges {
    width: 100%;
    height: 1500px;
    margin: 0em 0em 0em 0em;
    background-image: url(../images/bkg-services2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  }

  /* ------ section Coder Laywer students Grid REVIEW ----- */

  /* ------ section App ----- */

  /* ------ section contact ----- */

  #contactoHome {
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
  }
  .contactoHome {
    /*width: 1440px;*/
    width: 100%;
    height: 725px;
    margin: 5em 0em 0em 0em;
    background-image: url(../images/bkg-contacto.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    position: relative;
  }
  .flexContacto {
    width: 100%;
    padding: 0em 2em;
    position: absolute;
    top: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .titleContact {
    grid-area: titleContact;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .titleContact h3 {
    font-size: 55px;
    color: #00ffcb;
    font-weight: 600;
  }
  .titleContact p {
    font-size: 15px;
    font-weight: 400;
    color: #ffff;
    padding: 0.2em 0em 1em;
  }

  .titleContact .redes ul {
    list-style: none;
    flex-direction: column;
  }
  .titleContact .redes li {
    margin: 0.5em 0em;
  }
  .titleContact .redes a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
  }
  .titleContact .redes ul li a {
    display: flex;
    flex-direction: row; 
  }

  .titleContact .redes a span {
    color: #fff;
  }
  
  .titleContact .redes ul li a i {
    color: #00ffcb;
    margin-right: 25px;
  }
  .flexContacto .formulario {
    width: 40%;
  }
  .flexContacto .formulario .input-form {
    display: block;
    width: 100%;
    margin: 1em auto;
    background-color: #00ffcb;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #212121;
  }
  
  .flexContacto .formulario .input-form,
  input::placeholder {
  color: #212121;
  opacity: 1;
  }
  .input-form:focus,
  input:focus,
  input[type]:focus {
  outline: 0 none;
  }
  .flexContacto .formulario .consulta {
    display: block;
    width: 100%;
    margin: 1em auto;
    background-color: #00ffcb;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #212121;
  }
  
  .consulta,
  textarea::placeholder {
    color: #212121;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }
  .flexContacto .formulario button.enviar {
    border: none;
    background-color: #6243F7;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    padding: 1em;
    text-transform: capitalize;
    border-radius: 15px;
    float: right;
  }
  
}