.nameCouse {
    position: absolute;
    background-color: orange;
    border-radius: 15px;
    color: black;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    padding: 5px;
    font-size: $sizeNameCourse;

    &color{
        /*@extend .nameCouse;*/
        background-color:greenyellow;;
    }

    @media screen and (min-width: 600px) {

        & {
            font-size: $sizeNameCourseQ600;
        }

    }

    @media screen and (min-width : 1024px) {

        & {
            font-size: $sizeNameCourseQ1024;
        }

    }


}


