
  .articuloTitle {
    grid-area: articuloTitle;
  }

  .accordion {
    grid-area: accordion;
  }

  .accordion {
    width: 100%;
    margin: 15px;
  }

.accordion-item {
  display: flex;
    flex-direction: column;
    background-color: #6243f7;
    padding: 1em;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    margin: 15px;
}

.accordion-body {
  border: 2px solid #00ffcb;
  margin-top: 15px;
  border-radius: 10px;
}

  /** TABLET */
@media screen and (min-width: 600px) {
    .accordion {
      width: 80%;
    }

}

/** DESKTOP */
@media screen and (min-width : 1024px){


      .sectionText {
        width: 100%;
      }

      .accordion {
        width: 100%;
      }
}