/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    height: fit-content;
  }

  /* ------ FOOTER ----- */

footer .footer {
    color: #00ffcb;
    font-size: 1rem;
    font-weight: 300;
  }
  .footer p {
    display: inline-block;
  }
  .footer ul {
    list-style: none;
  }
  .footer li {
    display: inline-block;
  }
  .footer a {
    text-decoration: none;
    color: #00ffcb;
  }
  
  .redesFooter{
    grid-area: redesFooter;
  }
  
  .redesFooter a {
    text-decoration: none;
    color: #00ffcb;
    font-size: 1rem;
    margin-right: 0.5em;
  }
  
  footer {
    background-color: #212121;
      height: 120px;
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }