/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    height: fit-content;
  }

  /* ------ HEADER ----- */

  header {
    width: 100%;
    height: auto;
    background: #212121;
    padding: 1em 1em;
    position: relative;
    z-index: 1;
  }

  /* ------ containerLeft ----- */
  .containerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navBar .containerLeft .logo img {
    width: 7em;
    border-radius: 50%;
  }

  .navBar .containerLeft .search {
    display: none;
  }

  .navBar .containerLeft .search {
    width: 60%;
    margin-right: 10px;
  }

  .navBar .containerLeft .search i {
    position: absolute;
    z-index: 22222;
    margin-top: 6px;
    margin-left: 10px;
  }

  .navBar .containerLeft .search input {
    width: 100%;
    position: relative;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: none;
    padding-inline-start: 40px;
    font-size: 13px;
  }

  .navBar .containerLeft .search input::placeholder {
    padding-inline-start: 0px;

  }
  
  .navBar .containerLeft .search .input:focus {
    outline: 2px solid #00ffcb;
  }

/* ------ containerRight ----- */

.containerRight {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 13px;
    position: absolute;
    top: 20px;
    right: 30px;
}
.containerRight .buttonsIcons  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    font-size: 0.8rem;
  }

  .containerRight .buttonsIcons i.fa-user-circle {
    font-size: 2.5rem;
    margin: 0.2em;
    color: #fff;
  }

  .containerRight .buttonsIcons i {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
  }


/* ------ buttonResponsive ----- */

  .buttonResponsive{
    color: #ffff;
    font-size: 25px;
  }

  .buttonResponsive i{
    margin-top: 10px;
    margin-left: 13px;
  }

  .buttonResponsive:hover {
    color: #00ffcb;
  }

   /* ------ containerLinks ----- */

   /*.containerLinks{
    display: none;
   }
   .navList {
    display: none;
   }

  .navList {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .navItem {
    padding: 0.5em 0.5em;
  }

  .navItem a {
    border: transparent;
    text-decoration: none;
  }

  .containerLinks .navList .navItem .border {
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    width: 100%;
  }

  .containerLinks .navList .navItem a:after {
    content: "";
    display: block;
    height: 1.5px;
    background: #00ffcb;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-top: 5px;
    opacity: 0.5;
  }

  .containerLinks .navList .navItem a:hover:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    height: 1.5px;
    opacity: 1;
  }

  .buttonResponsive:hover .containerLinks {
    display: flex;
  }/*

 /* ------ subMenu ----- */
 .dropDown {
    position: relative;
  }

  .dropdownContent {
    display: none;
  }

  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
  }
  .dropDown:hover .dropbtn i {
    background-color: transparent;
    color: #00ffcb;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #212121;
    color: #fff;
    width: 180px;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.475);
    z-index: 1;
    right: -47px;
    border-radius: 25px;
    padding: 1em auto;
    border: 1px solid #00ffcb;
  }
  
  .dropDown:hover .dropdownContent {
    display: block;
  }

  .dropHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0em;
    border-bottom: 1px solid #00ffcb;
  }
  .dropHeader h4 {
    margin-left: 0.5em;
  }
  .dropDown .dropdownContent .content {
    list-style: none;
    border-bottom: 1px solid #00ffcb;
  }

  .dropDown .dropdownContent .content .navList a {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
  }

  .dropDown .dropdownContent .content .navList {
    font-size: 0.8rem;
  }

  .dropDown ul.outline {
    border-bottom: none;
  }
  .dropDown ul li {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 300;
  }

  .dropDown .dropdownContent .content .navList a:after {
    content: "";
    display: block;
    height: 1.5px;
    background: #00ffcb;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-top: 5px;
    opacity: 0.5;
  }

  .dropDown .dropdownContent .content .navList a:hover:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    height: 1.5px;
    opacity: 1;
  }
 #subMenuGuest {
    display: none;
  }


/** TABLET */
@media screen and (min-width: 600px) {
  
  /* ------ HEADER ----- */

  header {
    width: 100%;
    height: auto;
    background: #212121;
    padding: 1em 1em;
    position: relative;
    z-index: 1;
  }

  /* ------ containerLeft ----- */

  .containerLeft {
    justify-content: start;
  }
  .navBar .containerLeft .logo img {
    width: 9em;
    border-radius: 50%;
  }

  .navBar .containerLeft .search {
    display: block;
    width: 60%;
    margin-left: 15px;
  }

  .navBar .containerLeft .search input {
    width: 70%;
  }

  /* ------ containerRight ----- */
  .containerRight .buttonsIcons i.fa-user-circle {
    font-size: 2.7rem;
  }

  .containerRight .buttonsIcons i {
    font-size: 1rem;
  }

  /* ------ buttonResponsive ----- */
  .buttonResponsive{
    font-size: 30px;
  }

  /* ------ containerLinks ----- */
  .containerLinks .navList .navItem .border {
    font-size: 1.2rem;
  }

  /* ------ subMenu ----- */
  .dropDown .dropdownContent .content .navList a {
    font-size: 1rem;
  }

  .dropDown .dropdownContent .content .navList {
    font-size: 1rem;
  }
}

/** DESKTOP */
@media screen and (min-width : 1024px){

  /* ------ HEADER ----- */

  header {
    width: 100%;
    height: auto;
    background: #212121;
    padding: 1em 1em;
    position: relative;
    z-index: 1;
  }

  /* ------ containerLeft ----- */

  .containerLeft {
    justify-content: space-between;
    width: 40%;
  }
  .navBar .containerLeft .logo img {
    width: 9em;
  }

  .navBar .containerLeft .search {
    display: block;
    width: 60%;
    margin-left: 15px;
  }

  .navBar .containerLeft .search input {
    width: 100%;
  }

  /* ------ containerRight ----- */
  .containerRight .buttonsIcons i.fa-user-circle {
    font-size: 3rem;
  }

  .containerRight .buttonsIcons i {
    font-size: 1.4rem;
  }

  /* ------ buttonResponsive ----- */
  .buttonResponsive i {
    display: none;
  }

  /* ------ containerLinks ----- */
  .containerLinks {
    width: auto;
    position: absolute;
    top: 11px;
    right: 199px;
  }
  .containerLinks .navList .navItem .border {
    font-size: 1.2rem;
  }

  .containerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .navItem {
    padding: 1em 0.5em;
  }

  .containerLinks .navList .navItem .border {
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
  }

  .containerLinks .navList .navItem a:after {
    content: "";
    display: block;
    height: 1.5px;
    background: #00ffcb;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-top: 5px;
    opacity: 0.5;
  }

  .containerLinks .navList .navItem a:hover:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    height: 1.5px;
    opacity: 1;
  }

  /* ------ subMenu ----- */
  .dropDown .dropdownContent .content .navList a {
    font-size: 1rem;
  }

  .dropDown .dropdownContent .content .navList {
    font-size: 1rem;
  }

  .dropdownContent {
    width: 200px;
  }

  .dropHeader {
    font-size: 1rem;
  }
 
}