* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: fit-content;

   main {
    width: 100%;
    height: 100%;

    section {
        width: 100%;
        height: 100%;
       }
   }
  }
