.containerServices {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "category"
      "nameCourses"
      "containerCardsServices"
    ;
    justify-items: start;
    height: auto;

  .categoryFirst {

    h2 {
      font-size: $sizeTitleService;
      color: $colorTitleServices;
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 0.5em;
      padding: 0.5em 0.5em;
    }

  }
  .category {
    grid-area: category;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      font-size: $sizeTitleService;
      color: $colorTitleServices;
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 0.5em;
      padding: 0.5em 0.5em;
    }
  }
  .nameCourses {
    grid-area: nameCourses;
    color: $colorTextSeverices;
    text-align:start; 

    .navListService {
      display: flex;
      flex-direction: column;
      margin-left: 2.7em;
      list-style:circle;

      .navItem {
        text-decoration: none;
        font-size: $sizeNameServiceSubHeader;
      }
    }
  }

  @import "./containerService";

  .containerCardsServices {
    .container {
      margin-left: 2em;
      .progress {
        --bs-progress-bar-bg: #6243F7;
        --bs-progress-bg: #050505;
        background-color: black;
        width: 80%;
      }

     &:hover {
      --bs-progress-bar-bg: #00ffcb;
     } 
    
    }
  }
 
  .nameCourses .navItem:after {
    content: "";
    display: block;
    height: 1.5px;
    background: #00ffcb;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-top: 5px;
    opacity: 0.5;
  }

  .nameCourses .navItem:hover:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    height: 1.5px;
    opacity: 1;
  }

  @media screen and (min-width: 600px) {

    & {

    .categoryFirst {

      h2 {
        font-size: $sizeSubtitleMediaQ600;
      }

    }
    .category {

      h2 {
        font-size: $sizeSubtitleMediaQ600;

      }
    }
    .nameCourses {
    
      .navListService {
        flex-direction: row;
        margin-left: 3.5em;
        list-style:none;
        gap: 1.2em;

        .navItem {
          font-size: $sizeSubHeaderServiceQ600;
        }
      }
    }
    
    .containerCardsServices {
      .container {
        margin-left: 8em;
        .progress {
          --bs-progress-bar-bg: #6243F7;
          --bs-progress-bg: #050505;
          background-color: black;
          width: 80%;
   
        }
      }
    }
  }

  }

  @media screen and (min-width : 1024px){ 

    & {

  
      .categoryFirst {
  
        h2 {
          font-size: $sizeSubtitleMediaQ1024;
        }
  
      }
      .category {
  
        h2 {
          font-size: $sizeSubtitleMediaQ1024;
 
        }
      }
      .nameCourses {
      
        .navListService {
          
  
          .navItem {
            font-size: $sizeSubHeaderServiceQ1024;
          }
        }
      }
      
      .containerCardsServices {
        flex-direction:row !important;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 15px;
        justify-content: space-around;
        scroll-behavior: smooth;
        gap: 25px;
        width: 80%;

        .containerCursos {
          margin: 0em 5em;
        }

        .container {
          margin-left: 10em;
          .progress {
            --bs-progress-bar-bg: #6243F7;
            --bs-progress-bg: #050505;
            --bs-progress-width: 100%;
            background-color: black;
            width: 80%;
     
          }
        }
      }

    }
    
  }
}