/** ------ INDEX ------ */

/** Backgorund */
$fondo: #212121;

/** Size */
$sizeTitle: 3rem;
$sizeSubtitle: 2rem;
$sizePharagrap: 0.8rem;

/** Size header*/
$sizeLogoHeader:8em;
$sizeButtonIconsHeader: 1rem;
$sizeIconProfile: 4rem;
$sizeSubHeadingsSubMenu: 1.2rem;
$sizeHeadingSubMenu: 1.5rem;
$sizeIconProfileSubMenu: 3.5rem;
$sizeHambuergerMenu: 2.5rem;
$sizeSubTitlesMenu: 1.2rem;

/** size card teachers & students */
$sizeNamesCard: 1rem;
$sizePhotoCard: 6rem;
$sizeTitleCard: 1.3rem;
$sizeNameCard: 0.8rem;
$sizeNumberStadistics: 6rem;
$sizeTitleStadistics: 1.5rem;
$sizeTitleButton: 1rem;

/** size students */
$studentsCardWidth: 300px;
$studentsCardHeight: 200px;
$sizeNameCourse: 12px;

/** size form */
$sizePharagrapForm: 1rem;
$sizeButtonEnviar: 1rem;

/** size button */
$sizeButton: 1rem;
$sizeButtonQ600: 1.5rem;
$sizeButtonQ1024: 2rem;


/** Weight */
$fontWeight: 700;
$fontWeightStadistics: 600;
$fontWeightService: 600;

/** Color */
$colorTitle: #6243F7;
$colorParragrap: #ffffff;
$colorHeader: #ffffff;
$secundaryColor: #00FFCB;

/** color card teachers & students */
$colorCard: black;
$colorNameCard: #6243F7;
$colorTitleCard: #6243F7;
$colorPhotoCard: #6243F7;
$colorBackgroundButtonCard: black;
$colorBorderCard: 2px solid #6243F7;
$colorBorderCardHover: 1px solid #00FFCB;
$colorBackgroundButtonHover: #212121;
$colorTextButton: #00FFCB; 
$colorButton: #6243f7;

/** Color numbers */
$colorNumbersStadistics: #6243F7;

/** color services */
$colorTitleServices: #6243F7;
$colorTextSeverices: #ffffff;
$colorPrecioBackgroundHover: #00FFCB;
$colorPrecioHover: black;
$colorBackgroundCardService: black;
$borderBottomService: 1.5px solid #6243F7;
$borderPrecioService: 1px solid #6243F7;
$backgroundColorButton: #6243F7;
$colorTransitionService: #212121;
$colorServiceHover: 2px solid #00ffcb;
$colorCardBorder: 2px solid #6243F7;

/** color form */
$colorForm: #212121;
$backgroundColorForm: #00ffcb;
$backgroundColorButtonForm: #6243F7;


/** $media screen and (min-width: 600px) */
$sizeIconProfileQ600: 4.2rem;
$sizeSubTitlesMenuQ600: 1.3rem;
$sizeLogoHeaderQ600:10em;
$sizeHambuergerMenuQ600: 2.7rem;
$sizeSubtitleMediaQ600: 2.2rem; 
$sizeParaMediaQ600: 1.2rem;
$sizeCircleCharacterMediaQ600: 12rem;
$sizeTitleQ600: 3.7rem;
$sizePhotoCardQ600: 8rem;
$sizeNamesCardQ600: 1.8rem;
$sizeTitleCardQ600: 2rem;
$sizeNameCardQ600: 1.2rem;
$sizeButtonWithQ600: 13rem;
$sizeButtonHeightQ600: 5rem;
$sizeNumberStadisticsQ600: 7rem;
$sizeSubHeaderServiceQ600: 1.4rem;
$sizeCardServiceQ600: 350px;
$sizeStudentsCardWidthQ600:100%;
$sizeStudentsCardHeightQ600: 95%;
$sizeParaCardStudentsMediaQ600: 1rem;
$sizeNameCourseQ600: 1rem;
$sizeSocialIcionQ600: 3rem;

/** @media screen and (min-width : 1024px) */
$sizeIconProfileQ1024: 4.5rem;
$sizeSubTitlesMenuQ1024: 1.2rem;
$sizeSubtitleMediaQ1024: 2.5rem; 
$sizeParaMediaQ1024: 1.4rem;
$sizeCircleCharacterMediaQ1024: 14rem;
$sizeTitleQ1024: 4rem;
$sizePhotoCardQ1024: 9rem;
$sizeNamesCardQ1024: 2rem;
$sizeNumberStadisticsQ1024: 8rem;
$sizeSubHeaderServiceQ1024: 1.6rem;
$sizeNameCourseQ1024: 1.2rem;
$sizeSocialIcionQ1024: 3.5rem;

/** ------ SECTION SERVICES ------ */
/** size services */
$sizeTitleService: 2rem;
$sizeNameService: 0.8rem;
$sizeCardService: 300px; /** 300*2*/
$sizeNameService: 1.5rem;
$sizePrecioService: 1rem;
$sizeVerService: 1rem;
$sizeNameServiceSubHeader: 1.2rem;

/** $media screen and (min-width: 600px) */
$sizePlaceholderQ600: 1rem;

/** @media screen and (min-width : 1024px) */
$sizePlaceholderQ1024: 1.2rem;

/** ------ SECTION SERVICES DETAIL ------ */
$sizeImageCardWidh: 300px; 
$sizeImageCardHeight: 300px; 

/** ------ SECTION TEACHERS ------ */
$sizeNameTeacherCard: 1.2rem; 

/** ------ SECTION COMMUUNITY ------ */
$sizePlaceHolderSearchBar: 1rem; 
$sizeMainHeaders: 1.2rem;
$sizeMainHeadersQ600: 1.4rem;
$sizeMainHeadersQ1024: 1.6rem;
$sizeTitleArticles: 1.4rem;
$sizePharagrapAticles: 1rem;

/** ------ SECTION MY COURSES ------ */
$sizeInfoTeachers: 1rem;

/** ------ SECTION MY CHALLANGE ------ */
$sizeCategoriesChallanges: 1rem;
$sizeCategoriesChallangesQ600: 1.2rem;
$sizeCategoriesChallangesQ1024: 1.4rem;

/** ------ SECTION PROFILE ------ */
$sizeTitlesInputUpdate: 1.2rem;
$sizeTitlesInputUpdateQ600: 1.4rem;
$sizeTitlesInputUpdateQ1024: 1.6rem;