/* trends graph section */
.trends-container {
    grid-row: 3/4;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .trends {   
        grid-column: 1 / -1;
        background: #fff;
        border: 2px solid #dfe0eb;
        border-right: none;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        display: flex;
        align-items: center;
        position: relative;

        .trend-title {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            font-size: 1.25rem;
            font-weight: bold;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .data-container1 {
        grid-column: 1 / -1;

        background: #fff;
        border: 2px solid #dfe0eb;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        .data-item {
            padding: 1rem;
            text-align: center;
            font-weight: 600;

            & ~ .data-item {
                border-top: 1.65px solid #dfe0eb;
             }

            & > p:first-child {
                font-size: 1rem;
                color: #9fa2b4;
                margin-bottom: 0.5rem;
             }
             
            & > p:last-child {
                font-size: 1.5rem;
                color: #252733;
                font-weight: bold;
             }
         }
    }

    .data-container {
        grid-column: 1 / -1;
        background: #fff;
        border: 2px solid #dfe0eb;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        .data-item {
            padding: 1rem;
            text-align: center;
            font-weight: 600;

            & ~ .data-item {
                border-top: 1.65px solid #dfe0eb;
             }

            & > p:first-child {
                font-size: 1rem;
                color: #9fa2b4;
                margin-bottom: 0.5rem;
             }
             
            & > p:last-child {
                font-size: 1.5rem;
                color: #252733;
                font-weight: bold;
             }
         }
    }   


    



    
        
}
 
 
 
 
 
 
 
 
 
 